{{#partial "content"}}

<h1>Beer list</h1>

{{#if beers }}
{{#each beers}}

<p>{{name}}</p>
<p>{{type}}</p>
<p>{{container}}</p>
<p>{{rating}}</p>
<p>{{notes}}</p>
{{/each}}
{{else}}
<p>No Beers</p>
{{/if}}


<p>Add a new Beer:</p>

<form action="/beers/new" method="post">
    <label for="name">Beer Name</label>
    <input id="name" name="name" type="text">

    <label for="type">Beer Type</label>
    <input id="type" name="type" type="text">

    <label for="container">How was your beer served?</label>
    <input id="container" name="container" type="text">

    <label for="rating">Beer Rating</label>
    <input id="rating" name="rating" type="text">

    <label for="notes">Beer Notes</label>
    <input id="notes" name="notes" type="text">

    <button type="submit" class="btn btn-default">Add Beer</button>

</form>
{{/partial}}

{{> layout.hbs}}